html{
    background-color: black;
    height: 100%;
}

#container{
    height: 200px;
    width: 550px;
    display: grid;
    margin: 0 auto;
    border: 5px solid ;
    background-color: fuchsia;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px 1fr;
}

#input{
    height: 25px;
    width: 270px;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
    align-self: center;
    border: 2px solid black;
}

#meter{
    height: 30px;
    width: 126px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    /* position: relative;
    left: 13px; */
    color: white;
    background-color: black;
    border: 2px dotted fuchsia;
    justify-self: center;
}

#feet{
    height: 30px;
    width: 126px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    color: white;
    background-color: black;
    border: 2px dotted fuchsia;
    justify-self: center;
}

/* #btn1{
    display: flex;
    justify-content:space-around;
    justify-content: space-between;
    padding: 3px; 
    position: absolute;
    top: 80px;
    left: 499px;
}

#btn2{
    display: flex;
    justify-content:space-around;
    justify-content: space-between;
    padding: 3px; 
    position: absolute;
    top: 80px;
    left: 653px;
} */

#output{
    height: 25px;
    width: 270px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: center;
    /* align-self: center; */
    border: 2px solid black;
}