html{
    background-color: black;
    height: 100%;
}

#container{
    height: 200px;
    width: 550px;
    display: grid;
    margin: 0 auto;
    border: 5px solid ;
    background-color: fuchsia;
}