html{
    background-color: black;
    height: 100%;
}

#container{
    height: 200px;
    width: 550px;
    display: grid;
    margin: 0 auto;
    border: 5px solid ;
    background-color: fuchsia;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px 1fr;
}

#input{
    height: 25px;
    width: 250px;
    grid-column-start: 2;
    grid-column-end: 4;
}

#meter{
    height: 25px;
    width: 125px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#output{
    height: 25px;
    width: 250px;
}